
<div class="container-response">
  <div id="you">
    <h4><%="#{@question}"%></h4>
    <p>- You</p>
  </div>
</div>

<div class="container-response">
  <div id="coach">
    <h4><%="#{@answer}"%></h4>
    <p>- Your Coach</p>
  </div>
</div>

<%= link_to "Ask another question", "/ask" %>
