
<div class="container">
  <form action="/answer">
    <legend>Ask your coach anything:</legend>
    <input type="text" name="question">
    <input id="submit" type="submit" value="Ask!">
  </form>
</div>



